<!DOCTYPE html>
<html>   
    <head>
        <title>404 PAGE NOT FOUND</title>
        <link rel="icon" href="/images/weather.png">
    </head>

    <body>

        <div class="main-content">
            {{>header}}

            {{>errorMessage}}
        </div>
        

        

        {{>footer}}
    </body>
</html>